@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.para1 {
    background: #0096FF;
    color: #FFFFFF;
    width: 1rem;
    height: 1rem;
    border: none;
    font-size: 1rem;
}

.payment {
    height: 39rem;
    width: 23rem;
    background-color: white;
    position: absolute;
    top: 15%;
    left: 72%;
    font-family: "Roboto";
    font-weight: 400;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 1rem;
    align-items: center;
}

.signup,
.subscribe {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.top {
    display: flex;
    gap: 5rem;

    /* justify-content: space-between; */
}

.icon {
    width: 28px;
    height: 28px;
    font-size: 24px;
    text-align: center;
    color: white;
    background: #0096FF;
    border-radius: 100%;

}

.plan {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.planBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    /* box-sizing:border-box; */
    /* isolation: isolate; */
    gap: 4px;
    font-size: 11px;
    width: 311px;
    height: 15px;
    background: #E7E7E7;
    border: 2px solid #BEBEBE;
    border-radius: 4px;
    flex: 1;
}
.selectedPlan{
    background-color:  #D7EDDD;
}
.subscribeBlock {
    display: flex;
    flex-direction: row;
    padding: 10px;
    /* isolation: isolate; */
    gap: 4.6rem;
    font-size: 11px;
    width: 311px;
    height: 20px;
    background-image: linear-gradient(135deg, #DE4313 0%, #DE4313 0.75%, #DE4313 2.92%, #DE4414 6.37%, #DF4515 10.97%, #DF4816 16.59%, #E04B18 23.1%, #E1501B 30.37%, #E3561F 38.27%, #E55E24 46.66%, #E7682B 55.41%, #EB7533 64.39%, #EE843C 73.47%, #F39547 82.52%, #F8A954 91.41%, #FEC163 100%);
    border: 2px solid linear-gradient(135deg, #DE4313 0%, #DE4313 0.75%, #DE4313 2.92%, #DE4414 6.37%, #DF4515 10.97%, #DF4816 16.59%, #E04B18 23.1%, #E1501B 30.37%, #E3561F 38.27%, #E55E24 46.66%, #E7682B 55.41%, #EB7533 64.39%, #EE843C 73.47%, #F39547 82.52%, #F8A954 91.41%, #FEC163 100%);
    border-radius: 4px;
    justify-content: center;
}

.planBlock:focus {
    background: #D7EDDD;
}

.pricing {
    display: flex;
    flex: 1;
    font-size: 10px;
    margin-left: 6rem;
    justify-content: flex-end;
    /* gap:.6rem; */
    flex-direction: column;
}

.monthly {
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.total {
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.checkbox {
    display: flex;
    gap: 5px
}

.sub {
    display: flex;
    text-align: justify;
    justify-content: space-between;
    font-size: 11px;
    padding: 0 16px 0 16px;
}

.para {
    font-weight: bolder;
}

.rIcon {
    display: flex;
    align-items: center;

}

.btnDiv {
    display: flex;
    gap: 10px;
}

.cancel {
    height: 2rem;
    width: 10.2rem;
    background: none;
    border: 1px solid red;
    color: red;
    border-radius: 4px;
}

.proceed {
    height: 2rem;
    width: 10.2rem;
    background: #47BA68;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
}

.limited {
    display: flex;
    flex-direction: column;

}